<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Front page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Roboto" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="style.css" />
    <script src="script.js"></script>
</head>
<body>
<div class="container">
        <header>
            <div th:replace="header :: header">...</div>
        </header>

            <form action="queue/dbtest">
            <input type="submit" value="Check connection to db" class="awesomebuttons"/>
            </form>

            <div>
                <table>
                    <tr th:each="product : ${prod}">
                        <td th:text="${product.product_id}"></td>
                        <td th:text="${product.product_name}"></td>
                        <td th:text="${product.product_price}"></td>
                    </tr>
                </table>
            </div>

        </div>
    <div th:replace="footer :: footer" >...</div>
</body>
</html>