<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Product overview</title>

    <link href="https://fonts.googleapis.com/css?family=Quicksand%7CRoboto" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" type="text/css" media="screen"/>
    <script src="script.js"></script>
</head>
<body id ="productBodyPage">
<header>
    <div th:replace="header :: header">...</div>
</header>
<div>
    <div id ="productListContainer">
        <div th:each="product : ${prod}" id="productContainer">
            <img th:src="${product.product_image + '.jpg'}" id="loopedImage"/>
            <div id="productOverviewInfo">
                <p th:text="${product.product_name}"></p>
                <p th:text="${product.product_price} + ' SEK'"></p>
                <br/>
                <form th:action="@{/shoppingcart/{id}/(id=${product.product_id})}" method="post"><input type="submit" value="Add to cart" class="btn"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<div class="footer" th:replace="footer :: footer">...</div>
</html>